/* Default light mode settings */
:root {
    --bg-color: #ffffff;
    --txt-color: #000000;
}

/* Dark mode settings */
[data-theme="dark"] {
    --bg-color: #000000;
    --txt-color: #ffffff;
}

/* Apply the variables to the body */
body {
    background-color: var(--bg-color);
    color: var(--txt-color);
}


body {
    margin: 0; /* Ensure no default margin */
    padding: 0;
    font-family: Arial, sans-serif;
}

.link-container {
    padding: 20px; /* Add padding to the container for spacing */
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0; /* Ensure no default margin */
    display: flex;
    gap: 10px;
}

.link-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px; /* Adjust the size here */
}

.link-list a:hover {
    text-decoration: underline;
}
