/* Variables for colors */
$bg-color-light: #ffffff;
$txt-color-light: #000000;
$link-color-light: blue;
$link-hover-color-light: darkblue;

$bg-color-dark: #000000;
$txt-color-dark: #ffffff;
$link-color-dark: #00ff00;
$link-hover-color-dark: #00cc00;

/* Default light mode */
:root {
  --bg-color: #{$bg-color-light};
  --txt-color: #{$txt-color-light};
  --link-color-light: #{$link-color-light};
  --link-hover-color-light: #{$link-hover-color-light};
}

/* Dark mode */
[data-theme="dark"] {
  --bg-color: #{$bg-color-dark};
  --txt-color: #{$txt-color-dark};
  --link-color-light: #{$link-color-dark};
  --link-hover-color-light: #{$link-hover-color-dark};
}

/* Apply the variables to body */
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

a:link,
a:visited {
  color: var(--link-color-light);
}

a:hover {
  color: var(--link-hover-color-light);
}

[data-theme="dark"] a:link,
[data-theme="dark"] a:visited {
  color: var(--link-color-dark);
}

[data-theme="dark"] a:hover {
  color: var(--link-hover-color-dark);
}

/* Layout styles */
.container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.profile-image {
  border-radius: 20px;
}

.badge-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.link-list a {
  text-decoration: none;
  color: var(--link-color-light);
}

.link-list a:hover {
  text-decoration: underline;
  color: var(--link-hover-color-light);
}


/* Header styles */
.site-header .site-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.site-logo {
  width: 50px; /* Set the width of the logo image */
  height: 50px; /* Set the height of the logo image */
  margin-right: 10px; /* Space between the logo and title */
}

.site-title h1 {
  font-size: 1.5rem; /* Adjust font size as needed */
  margin: 0; /* Remove default margin */
}
